<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="pl.edu.uj.tcs.student.tomaszwesolowski"
      version="0.1.0">
    <name>Display</name>
    <description>PhoneGap Display Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,display</keywords>


    <js-module src="assets/www/display.js" name="Display">
        <clobbers target="window.display" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Display">
                <param name="android-package" value="pl.edu.uj.tcs.student.tomaszwesolowski.Display"/>
            </feature>
            <feature name="Layer">
                <param name="android-package" value="pl.edu.uj.tcs.student.tomaszwesolowski.Layer"/>
            </feature>
            <feature name="ScreenAdjuster">
                <param name="android-package" value="pl.edu.uj.tcs.student.tomaszwesolowski.ScreenAdjuster"/>
            </feature>
        </config-file>

        <source-file src="src/pl/edu/uj/tcs/student/tomaszwesolowski/Display.java" target-dir="src/pl/edu/uj/tcs/student/tomaszwesolowski/display" />   
        <source-file src="src/pl/edu/uj/tcs/student/tomaszwesolowski/Layer.java" target-dir="src/pl/edu/uj/tcs/student/tomaszwesolowski/display" />      
        <source-file src="src/pl/edu/uj/tcs/student/tomaszwesolowski/ScreenAdjuster.java" target-dir="src/pl/edu/uj/tcs/student/tomaszwesolowski/display" />         
     </platform>          
</plugin>